@{
    ViewBag.Title = "Home Page";
}


<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <main>
            <div id="API-results"></div>
        </main>
    </body>
</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/sampleapi.js"></script>